<header class="header">
    <div class="content__logo-img">
        <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="logo" class="img-band"></a>
    </div>
    <div class="heder-content__lupa-button">
        <!--  Icono boton https://fontawesome.com/-->
        <button class="heder-content__button" ><i class="fa-sharp fa-solid fa-magnifying-glass lupa"></i> </button>
        <input type="text"  placeholder="Buscar productos, marcas" class="heder-content__input" >  
    </div>
    <div class="content-formaDePago">
        <p ><i class="fa-solid fa-hand-holding-dollar"></i><b>Comprá en cuotas y sin tarjeta de crédito</b></p>
    </div>
    <!-- lista de menu    -->   
    <nav class="nav-lista-menu">  
        <lu class="nav-lista-menu__lista">
            <li class="nav-lista-menu__lista-nombre"><a href="/product/list">Todos los productos</a></li>
            <li class="nav-lista-menu__lista-nombre"><a href="#">Tiendas Oficiales</a></li>
            <% if (locals.isLogged) { %> 
            <li class="nav-lista-menu__lista-nombre"><a href="/product/create">Vender</a></li>
            <% } %> 
            <li class="nav-lista-menu__lista-nombre"><a href="#">Ayuda</a></li>
        </lu>


        <lu class="nav-lista-menu__lista">                        <!--  Icono cuenta https://fontawesome.com/-->
            <% if (locals.isLogged) { %> 
            <li class="nav-lista-menu__lista-nombreA"><a href="/user/profile"><%= locals.userLogged.firstName %> <%= locals.userLogged.lastName %><img src="/img/avatar/<%= locals.userLogged.image %>" class="icons-profile"></a></li>
            <li class="nav-lista-menu__lista-nombreA"><a href="/user/logout">Salir</li>
                                <!--  Icono compra https://fontawesome.com/-->
            <li class="nav-lista-menu__lista-nombre"><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                    <% }else { %> 
            <li class="nav-lista-menu__lista-nombre"><a href="/user/register">Creá tu cuenta</a> <i class="fa-regular fa-id-card"></i></li>
                                <!--  Icono ingresar https://fontawesome.com/-->
            <li class="nav-lista-menu__lista-nombre"><a href="/user/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
            <% } %> 
        </lu>
    </nav>  
    <!--  Lista desplegable -->
    <div class="content-lista-hambur">
        <div class="content-lista-hambur__fondo">
        <i class="fas fa-bars menu-habur"></i>
        </div>
    </div>
</header>