<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="css/registro.css" rel="stylesheet"> 

        <!--     Pagina de icons -->
        <script src="https://kit.fontawesome.com/aef00d3210.js" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

        <title>Proyecto en Playground</title>
    </head>
<body>
    <%- include('parcials/header.ejs') %>
    <main>
        <%- include('parcials/banner.ejs') %>
        <form action="#" method="#" class="content-form">
            <h1>Registrarse</h1>
            <input type="text" placeholder="Nombre y apellido" name="nombreYApellido" class="main-form__imput">
            <input type="text" placeholder="Nombre de usuario" name="nombreDeUsuario" class="main-form__imput">
            <h2>Fecha de nacimiento</h2>
            <input type="date" name="fechaDeNacimiento" class="main-form__imput">
            <input type="text" placeholder="Domicilio" name="domicilio" class="main-form__imput">
            <h2>Perfil de usuario</h2>
            <select class="main-form__imput">
                <option>Comprador</option>
                <option>Vendedor</option>
            </select>
            <h2>Intereses</h2>
            <div class="content-checkbox">
                <label class="label-imput"><input type="checkbox" name="checkboxElectro" class="main-form__imput--checkbox">Electro</label>
                <label class="label-imput"><input type="checkbox" name="checkboxModa" class="main-form__imput--checkbox">Moda</label>
                <label class="label-imput"><input type="checkbox" name="checkboxHogar" class="main-form__imput--checkbox">Hogar</label>
                <label class="label-imput"><input type="checkbox" name="checkboxJugueteria" class="main-form__imput--checkbox">Jugueteria</label>
                <label class="label-imput"><input type="checkbox" name="checkboxVidaSana" class="main-form__imput--checkbox">VidaSana</label>
            </div>
            <h2>Foto de Perfil</h2>
            <input type="file" name="fotoDePerfil" class="main-form__imput">
            <input type="password" name="contraseña" class="main-form__imput">
            <input type="password" name="contraseñaConfirmar" class="main-form__imput">
            <div class="conten-botones">
                <input type="submit" name="registrarse" class="submit">
                <input type="submit" name="borrar" class="submit">
            </div>  
        </form>
    </main>
    <%- include('parcials/footer.ejs') %>
</body>
</html>