@import url(normalize.css);
@import url(header.css);
@import url(footer.css);
/* ----------------Main---------------------------- */
.main{
    display: flex;
    background-color: #ebebeb;
    width: 100%;
    justify-content: center;
    margin: auto;
    flex-wrap:wrap;
}

/* ----------------seccion---------------------------- */
.section__caja{
    margin: 15px;   
    width: 90%;
    text-align: center;
    
}
/* ----------------cajaDeLosArticulos---------------------------- */
.articilo_article__caja{
    width: 100%;
    /* justify-content: center; */
    position: relative;
    margin-bottom: 15px ;
    margin:  5px;
}
/* ----------------descipcionDelArticulo---------------------------- */
.div-descripcion{
    background-color: white;
    /* margin-bottom: 15px; */
    text-align: center;
    position: relative;
    height: 140px;
    padding-top: 25px;
}
/* ----------------contenidoDeLaImagen---------------------------- */
.div__img{
    background-color: #ebebeb;
}

/* logo camion, descuentom, circulo del camion */
.camion-icon, .articulo-article__descuento, .color-circulo {
    color: green; 
    padding-bottom: 5px;
}
 /* ----------------cajaquecontienecamion---------------------------- */
.content__camion-circulo{
    border: solid 2px #39b54a;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 5px;
    font-size: 100%;
    position: absolute;
    left: 40%;
    bottom: 90%;
    transition:  transform 1s;
}
/* -------------------------animaciones-------------------------------- */
/* -------------------------movimiento del camion-------------------------------- */
.articilo_article__caja:hover .content__camion-circulo{
transform: translate(50px) rotate(360deg);

}
/* .articilo_article__caja:hover{
    cursor: grab;
} */
/* -------------------------sombraDelArticulo-------------------------------- */
.articilo_article__caja:hover{
    -webkit-box-shadow: 1px 3px 8px 12px rgba(122,122,122,1);
-moz-box-shadow: 1px 3px 8px 12px rgba(122,122,122,1);
box-shadow: 1px 3px 8px 12px rgba(122,122,122,1);
}
/* -------------------------AparecerDescripcionDelArticulo-------------------------------- */
.articilo_article__caja:hover .articulo-artlite__descripcion{
    display: contents;
}
 /* ----------------tituloDeMain---------------------------- */
.titulo-section__h4{
    font-size: 24px;
}
 /* ----------------desceipcion de articulo---------------------------- */
.articulo-artlite__descripcion{
    margin-top: 15px;
    text-align: center;
    display: none;
}
 /* ----------------PrecioDescripcion---------------------------- */
.articulo-article__precio{
    padding-top: 10px;
    font-size: 25px;
}
@media screen and (min-width:700px){
 /* ----------------tituloDeMain---------------------------- */
.titulo-section__h4{
    width: 100%;
    margin-left: 70px;
    padding-top: 15px;
}
/* ----------------cajaDeLosArticulos---------------------------- */
.articilo_article__caja{
    width: 250px;
}
/* ----------------seccion---------------------------- */
.section__caja{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
}
}

