@import url(normalize.css);
@import url(header.css);
@import url(footer.css);
.alertError{
    color: red;
}
main{
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
/* ----------------contentDelForm---------------------------- */
.content-form{
    display: flex;
    flex-direction:column;
    padding: 20px;
    text-align: center;
    width: 50%;
}
/* ----------------inputDelForm---------------------------- */
.main-form__imput{
    height: 30px;
    width: 20%px;
    margin: 5px;
    flex-direction: row;
    justify-content: center;
}
/* ----------------H1---------------------------- */
h1{
    padding-top: 30px;
    padding-bottom: 20px;
}
/* ----------------H2---------------------------- */
h2{
    margin: 20px;
    /* margin-bottom: 0px; */
}
/* ----------------divContentDelCheckbox---------------------------- */
.content-checkbox {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
}
/* ----------------checkbox---------------------------- */
.main-form__imput--checkbox{
    margin-right: 15px;
} 
/* ----------------label del checkbox---------------------------- */
.label-imput{
    margin: 15px;
}
/* ----------------cajaDeForm---------------------------- */
.conten-botones{
    padding: 30px;
}
/* ----------------botonesDeRegistroYBorrar---------------------------- */
.submit{
    height: 50px;
    width: 40%;
    margin-right: 10px;
    background-color: #1259c3;
    border: none;
    border-radius: 5%;
}