<!DOCTYPE html>
<html lang="e">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/login.css" rel="stylesheet"> 
        <!--     Pagina de icons -->
        <script src="https://kit.fontawesome.com/aef00d3210.js" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <title>Proyecto en Playground</title>
    </head>
    <body>   
        <%- include('parcials/header.ejs') %>
            <main>
                <%- include('parcials/banner.ejs') %>
                <form action="/user/login" method="POSt" class="content-form">
                    <input type="email" placeholder="Email" name="email" class="main-form__imput">
                    <!-- Validacion de Email -->
                <% if (locals.errors && errors.email){ %>
                    <p class="alertError"><%= errors.email.msg %> </p>
                <% } %>
                    <input type="password" placeholder="Contraseña" name="password" class="main-form__imput">  
                    <div><input type="checkbox" name="remember"> recordar usuario</div>
                    <div class="conten-botones">
                        <input type="submit" name="registrarse" class="submit">
                    </div>
                </form>
            </main>
            <%- include('parcials/footer.ejs') %>
    </body>
</html>