<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/ofertas.css" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/aef00d3210.js" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <%- include('parcials/header.ejs') %>
    <main>
        <%- include('parcials/banner.ejs') %>
    </main>
    
    <h2>hola</h2>
    <ul>
        <% for (let i = 0; i < listaOferta.length; i++) { %>
        <li>
            <%= listaOferta[i] %>
        </li>
        <% } %>
    </ul>
    <%- include('parcials/footer.ejs') %>
</body>
</html>